<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p>Course deleted by by <span
        th:text="${course.owner.getEmail()}"></span>
</p>
--------------------------<br/>
<span th:inline="text">Name: [[${course.courseName}]]</span><br/>
<span th:inline="text">Category: [[${course.categoryName}]]</span><br/>
<span th:inline="text">Description: [[${course.description}]]</span><br/>
<span th:inline="text">Links: [[${course.links}]]</span><br/>
<div th:each="decision:${course.decisions}">
    --------------------------<br/>
    <span th:inline="text">Decision: [[${decision.decision.getValue()}]]</span><br/>
    <span th:inline="text">Reason: [[${decision.reason}]]</span><br/>
</div>
</body>
</html>