<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p><span th:text="${course.getOwnerEmail()}"></span> had created a new course.
</p>
--------------------------
<span th:inline="text">Name: [[${course.getCourseName()}]]</span>
<span th:inline="text">Category: [[${course.getCategoryName()}]]</span>
<span th:inline="text">Description: [[${course.getDescription()}]]</span>
<span th:inline="text">Links: [[${course.getLinks()}]]</span>
--------------------------
<p>Please, review this course at <a th:href="'http://localhost:8080/courses'+${course.getId()}+'/approve'">link</a></p>
</body>
</html>