<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p><span th:text="${course.ownerEmail}"></span> had created a new course.
</p>
--------------------------<br/>
<span th:inline="text">Name: [[${course.courseName}]]</span><br/>
<span th:inline="text">Category: [[${course.categoryName}]]</span><br/>
<span th:inline="text">Description: [[${course.description}]]</span><br/>
<span th:inline="text">Links: [[${course.links}]]</span><br/>
--------------------------
<p>Please, review this course at <a
        th:href="${url}+${course.id}+'/approve'">link</a></p>
</body>
</html>