<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p>New course had been added by <span
        th:text="${course.getOwnerEmail()}"></span>
</p>
--------------------------<br/>
<span th:inline="text">Name: [[${course.getCourseName()}]]</span><br/>
<span th:inline="text">Category: [[${course.getCategoryName()}]]</span><br/>
<span th:inline="text">Description: [[${course.getDescription()}]]</span><br/>
<span th:inline="text">Links: [[${course.getLinks()}]]</span><br/>
--------------------------<br/>
<span>See course <a th:href="${url}+${course.getId()}">details</a></span>
<span>Or became a <a
        th:href="${url}+${course.getId()}+'/subscribe'">subscriber</a></span><br/>
</body>
</html>