<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p><span th:text="${course.courseName}"></span> course is ready.
</p>
All information about course: <br/>
--------------------------<br/>
<span th:inline="text">Name: [[${course.courseName}]]</span><br/>
<span th:inline="text">Category: [[${course.categoryName}]]</span><br/>
<span th:inline="text">Description: [[${course.description}]]</span><br/>
<span th:inline="text">Links: [[${course.links}]]</span><br/>
</body>
</html>