<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<p>Course was rejected by <span
        th:text="${votes}"></span>
</p>
<div th:each="decision:${decisions}">
    --------------------------<br/>
    <span th:inline="text">Decision: [[${decision.decision.getValue()}]]</span><br/>
    <span th:inline="text">Reason: [[${decision.reason}]]</span><br/>
</div>
--------------------------<br/>
<span>Update your course <a
        th:href="${url}+${decisions.get(0).courseForReview.id}+'/update'">Update</a></span><br/>
</body>
</html>