<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container">
    <header th:replace="header :: header" ></header>
    <div class="alert alert-error">
        <div>
            <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul>
            <li>Action not allowed. Say again please.</li>
        </ul>
    </div>
    <div class="form-horizontal">
        <div class="form-actions">
            <a class="btn" href="/courses">Back</a>
        </div>
    </div>
</div>
</body>
</html>
