<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>404 - Not found</title>
</head>
<body>
<div class="container">
    <header>
        <h1>Error</h1>
    </header>
<div class="alert alert-error">
    <div>
        <strong>Okay, Houston, we've had a problem here.</strong>
    </div>
    <ul>
        <li>Oops, this page is not found</li>
    </ul>
</div>
    </div>
</body>
</html>