<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>
    <div class="alert alert-error" th:if="${errors}">
        <div>
            <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul>
            <li th:each="error, iterationStatus : ${errors}"
                th:text="${#messages.msg(error.codes[0])}">.
            </li>
        </ul>
    </div>
    <form class="form-horizontal"
          th:action="@{'/courses/'+${course.id}+'/approve'}"
          th:object="${decisionForm}" method="POST">
        <div class="control-group">
            <div class="control-label">Name</div>
            <div id="titleField" class="controls text"
                 th:text="${course.courseName}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Lecturer</div>
            <div id="ownerField" class="controls text"
                 th:text="${course.ownerEmail}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Category</div>
            <div id="categoryField" class="controls text"
                 th:text="${course.categoryName}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Description</div>
            <div id="descriptionField" class="controls text"
                 th:text="${course.description}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Links</div>
            <div id="linksField" class="controls text"
                 th:text="${course.links}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Department Manager</div>
            <div id="dmField" class="controls text"
                 th:text="${course.departmentManager}"></div>
        </div>
        <div class="control-group"
             th:if="${course.departmentManagerDecision!=null}">
            <div class="control-label">Department Manager's Decision</div>
            <div class="controls text"
                 th:text="${course.departmentManagerDecision}"></div>
        </div>
        <div class="control-group">
            <label class="control-label">Decision</label>
            <div class="controls">
                <select class="span5" th:field="*{decision}"
                        th:disabled="${course.isKnowledgeManager() or course.isVoted()}">
                    <option th:value="''">Select one</option>
                    <option th:each="decision: ${T(org.tc.models.enums.DecisionEnum).values()}"
                            th:value="${decision}"
                            th:text="${decision.getValue()}"></option>
                    >
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Reason</label>
            <div class="controls">
                <textarea class="span5" rows="3"
                          th:field="*{reason}"
                          th:disabled="${course.isKnowledgeManager() or course.isVoted()}"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">Knowledge Manager</div>
            <div id="kmField" class="controls text"
                 th:text="${course.knowledgeManager}"></div>
        </div>
        <div class="control-group"
             th:if="${course.knowledgeManagerDecision!=null}">
            <div class="control-label">Knowledge Manager's Decision</div>
            <div class="controls text"
                 th:text="${course.knowledgeManagerDecision}"></div>
        </div>
        <div class="control-group">
            <label class="control-label">Decision</label>
            <div class="controls">
                <select class="span5" th:field="*{decision}"
                        th:disabled="${course.isDepartmentManager() or course.isVoted()}">
                    <option th:value="''">Select one</option>
                    <option th:each="decision: ${T(org.tc.models.enums.DecisionEnum).values()}"
                            th:value="${decision}"
                            th:text="${decision.getValue()}"></option>
                    >
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Reason</label>
            <div class="controls">
                <textarea class="span5" th:field="*{reason}"
                          th:disabled="${course.isDepartmentManager() or course.isVoted()}"></textarea>
            </div>
        </div>
        <div class="form-actions actions-without-form">
            <button class="btn btn-primary" type="submit">Save</button>
            <a class="btn" href="/courses">Back</a>
        </div>
    </form>
</div>
</body>
</html>