<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>
    <div class="courses-top-control">
        <a class="btn"
           th:href="${#httpServletRequest.getRequestURI()=='/courses'?'/mycourses':'/courses'}"
           th:text="${#httpServletRequest.getRequestURI()=='/courses'?'My courses':'Courses'}"></a>
        <a th:if="${#httpServletRequest.getRequestURI()=='/courses'}"
           id="createCourseButton" class="btn btn-primary"
           href="/courses/create" sec:authorize="hasAuthority('Lecturer')">Create</a>
        <div class="search-box">
            <form class="form-search"
                  th:action="${#httpServletRequest.getRequestURI()}"
                  th:object="${category}" method="GET">
                <select id="categoryField" name="optionsListId" class="span5"
                        th:field="*{categoryName}">
                    <option th:value="All" th:text="All"></option>
                    <option th:each="category : ${categories}"
                            th:value="${category.getCategoryName()}"
                            th:text="${category.getCategoryName()}"
                    >
                    </option>
                </select>
                <button class="btn" type="submit">Apply</button>
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="span1">Id</th>
            <th>Course</th>
            <th class="span3">Category</th>
            <th class="span1">S/A</th>
            <th class="span1">Grade</th>
            <th class="span2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.getId()}"></td>
            <td><a th:href="@{'/courses/'+${course.getId()}}"
                   th:text="${course.getCourseName()}"></a>
                <span sec:authorize="hasAnyAuthority('Lecturer','Knowledge Manager', 'Department Manager')"
                      class="label"
                      th:if="${course.isDrafted()}">Draft</span>
                <span sec:authorize="hasAnyAuthority('Lecturer','Knowledge Manager', 'Department Manager')"
                      class="label label-warning"
                      th:if="${course.isProposal()}">Proposal</span>
                <span sec:authorize="hasAnyAuthority('Lecturer','Knowledge Manager', 'Department Manager')"
                      class="label label-important"
                      th:if="${course.isRejected()}">Rejected</span>
                <span class="label label-success"
                      th:if="${course.isNew()}">New</span>
                <span class="label label-info"
                      th:if="${course.isOpen()}">Open</span>
                <span class="label label-default"
                      th:if="${course.isReady()}">Ready</span>
                <span class="label label-info"
                      th:if="${course.isInProgress()}">In Progress</span>
                <span class="label label-important"
                      th:if="${course.isFinished()}">Finished</span>
            </td>
            <td th:text="${course.getCategoryName()}"></td>
            <td>
                <a th:href="@{'/courses/'+${course.getId()}+ '/participants'}"
                   th:text="${course.getAttendeeSubscriber()}"></a>
            </td>
            <td th:text="${course.getAverageGrade()>0?course.getAverageGrade():''}"></td>
            <td sec:authorize="hasAuthority('user')">
                <a class="btn btn-mini"
                   th:if="${course.canSubscribe()}"
                   th:href="'/courses/'+${course.getId()}+ '/subscribe'">Subscribe</a>
                <a class="btn btn-mini"
                   th:if="${course.canAttend()}"
                   th:href="'/courses/'+${course.getId()}+ '/attend'">Attend</a>
                <a class="btn btn-mini"
                   th:if="${course.canEvaluate()}"
                   th:href="'/courses/'+${course.getId()}+ '/evaluate'">Evaluate</a>
            </td>
            <td sec:authorize="hasAuthority('Lecturer')">
                <div class="btn-group" th:unless="${course.isProposal()}">
                    <a th:if="${course.getIsOwner()}" class="btn btn-mini"
                       th:href="@{'/courses/'+${course.getId()}+'/update'}">Update</a>
                    <a th:if="${course.getIsOwner()}"
                       class="btn dropdown-toggle btn-mini"
                       data-toggle="dropdown" href="#"><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a th:href="@{'/courses/'+${course.getId()}+'/update'}">Send
                                to Review</a>
                        </li>
                        <li th:if="${course.canBeDeleted()}">
                            <a th:href="@{'/courses/'+${course.getId()}+'/delete'}">Delete</a>
                        </li>
                        <li th:if="${course.isReady()}">
                        <a th:href="@{'/courses/'+${course.getId()}+'/start'}">Start</a>
                        </li>
                        <li th:if="${course.isInProgress()}">
                            <a th:href="@{'/courses/'+${course.getId()}+'/finish'}">Finish</a>
                        </li>
                        <li th:if="${course.isFinished()}">
                            <a th:href="@{'/courses/'+${course.getId()}+'/notify'}">Notify</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td sec:authorize="hasAnyAuthority('Knowledge Manager','Department Manager')">
                <a class="btn btn-mini"
                   th:if="${course.isProposal()}"
                   th:href="'/courses/'+${course.getId()}+ '/approve'">Approve</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/resources/js/jquery-1.8.1.min.js}"></script>
<script th:src="@{/resources/js/bootstrap-2.2.2.min.js}"></script>
</body>
</html>