<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container">
    <header>
        <h1>Courses
            <div class="logout">
            <span id="currentUserLogin" th:text="${username}">
            </span>
                <a href="/logout">
                    <i class="icon-off"></i>
                </a>
            </div>
        </h1>
    </header>
    <div class="courses-top-control">
        <a id="createCourseButton" class="btn btn-primary" href="/courses/create">Create</a>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="span1">Id</th>
            <th>Course</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="course : ${courses}">
            <td th:text="${course.getId()}"></td>
            <td><a th:href="@{'/courses/'+${course.getId()}}" th:text="${course.getName()}"></a></td>
            <td><a class="btn btn-mini" th:href="@{'/courses/'+${course.getId()}+'/update'}">Update</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>