<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <Title>Login</Title>
</head>
<body>
<div class="container">
    <header>
        <h1>Login</h1>
    </header>
    <div class="alert alert-error" th:if="${errors}">
            <div>
            <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul>
            <li th:each="error, iterationStatus : ${errors}"  th:text="${#messages.msg(error)}">.</li>
        </ul>
    </div>
    <form class="form-horizontal" th:action="@{/login}" th:object="${user}" method="post">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Login</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">@</span>
                        <input id="loginField" class="span3" th:field="*{username}" type="text" />
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Password</label>
                <div class="controls">
                    <input  id="passwordField" th:field="*{password}" class="span3"  type="password" />
                </div>
            </div>
            <div class="form-actions">
                <button id="loginButton" class="btn btn-primary" type="submit">Login</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
