<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <header>
        <h1>
            Logout
        </h1>
    </header>
    <form class="form-horizontal" th:action="@{/logout}" method="post">
        <fieldset>
            <div class="control-group">
                <div class="controls text">
                    You currently logged as '<span id="currentUserLogin" th:text="${username}"></span>'.
                </div>
                <div class="controls text">
                    Are you sure you want to logout?
                </div>
            </div>
            <div class="form-actions">
                <button id="logoutButton" class="btn btn-danger" type="submit">Logout</button>
                <a class="btn" th:href="${back}">Back</a>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>