<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>
    <div class="form-horizontal">
        <div class="control-group">
            <div class="control-label">Name</div>
            <div id="titleField" class="controls text"
                 th:text="${course.courseName}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Lecturer</div>
            <div id="ownerField" class="controls text"
                 th:text="${course.ownerEmail}"></div>
        </div>
        <div class="control-group">
            <div class="control-label">Subscribers</div>
            <div id="subscribersList" class="controls text">
                <ul class="unstyled">
                    <li th:each="subscriber : ${course.subscribersCourse}"
                        th:text="${subscriber}"></li>
                </ul>
            </div>
        </div>
        <div class="control-group">
            <div class="control-label">Attendee</div>
            <div id="attendeeList" class="controls text">
                <ul class="unstyled">
                    <li th:each="attend : ${course.attendeeCourse}"
                        th:text="${attend}"></li>
                </ul>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn" href="/courses">Back</a>
        </div>
    </div>
</div>
</body>
</html>
