<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/resources/css/style.css}"/>
    <title>Update course</title>
</head>
<body>
<div class="container">
    <header th:replace="header :: header"></header>
    <div class="alert alert-error" th:if="${errors}">
        <div>
            <strong>Okay, Houston, we've had a problem here.</strong>
        </div>
        <ul>
            <li th:each="error, iterationStatus : ${errors}"
                th:text="${#messages.msg(error.codes[0])}">.
            </li>
        </ul>
    </div>
    <form class="form-horizontal"
          th:action="@{'/courses/'+${course.courseId}+'/update'}"
          th:object="${course}" method="POST">
        <fieldset>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input id="titleField" class="span5" type="text"
                           th:field="*{name}" th:value="${course.name}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Category</label>
                <div class="controls">
                    <select id="categoryField" name="optionsListId"
                            class="span5" th:field="*{category}">
                        <option th:each="category : ${categories}"
                                th:value="${category.categoryName}"
                                th:text="${category.categoryName}"
                                th:selected="${categories.contains(category.categoryName)}">
                            Options
                        </option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Minimal number of
                    subscribers</label>
                <div class="controls">
                    <input id="minSubscribersField" class="span5" type="text"
                           th:field="*{minSubscribers}"
                           th:value="${course.minSubscribers==null?'':course.minSubscribers}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Minimal number of attendees</label>
                <div class="controls">
                    <input id="minAttendeesField" class="span5" type="text"
                           th:field="*{minAttendees}"
                           th:value="${course.minAttendees==null?'':course.minAttendees}"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea id="descriptionField" class="span5" rows="3"
                              th:field="*{description}" th:inline="text">
                        [[${course.description}]]
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Links</label>
                <div class="controls">
                    <textarea id="linksField" class="span5" rows="3"
                              th:field="*{links}" th:inline="text">
                        [[${course.links}]]
                    </textarea>
                </div>
            </div>
            <div class="form-actions">
                <button id="updateButton" class="btn btn-primary" type="submit">
                    Update
                </button>
                <a th:href="@{'/send_to_review/'+${course.courseId}}"
                   th:object="${course}"
                   id="reviewButton" class="btn btn-warning">
                    Review
                </a>
                <a class="btn" href="/courses">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>
